[submodule "src-tauri/vendor/grindr-google-oauth-webextension"]
	path = src-tauri/vendor/grindr-google-oauth-webextension
	url = ssh://git@git.opengrind.org/open-grind/grindr-google-oauth-webextension.git
