{
	"useTabs": true,
	"plugins": [
		"prettier-plugin-svelte",
		"prettier-plugin-tailwindcss"
	],
	"tailwindStylesheet": "./src/layout.css",
	"tailwindFunctions": [
		"cn",
		"tv"
	],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}